@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    background: -webkit-linear-gradient(to left, #e0f5b8, #d8d5d5);
    background: linear-gradient(to left, #DDEFBB, #FFEEEE);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 300px;
    background-color: white;
    border-radius: 15px;
    transition: 0.2s;
}

.card-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-body h1 {
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer button {
    width: 200px;
    background: black;
    color: greenyellow;
    border-radius: 20px;
    border: 2px solid black;
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.card-footer button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.cards:hover {
    box-shadow: 3.9px 7.8px hsl(0deg 0% 0% / 0.38);
}