* {
    padding: 0;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heroes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.character {
    box-shadow: 0 0 4px 3px pink;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
}

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

p {
    padding-left: 20px;
}

.button {
    text-align: center;
}

#generate {
    padding: 5px;
    border: solid black 2px;
    background-color: rgb(244, 209, 215);
    border-radius: 1.5rem;
}

#generate:hover {
    cursor: pointer;
}